<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Frame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 684}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 684}</string>
			<key>spriteSourceSize</key>
			<string>{640, 684}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 684}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HUD.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{640, 137}</string>
			<key>spriteSourceSize</key>
			<string>{640, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 686}, {640, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile1-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 825}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 130}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile2-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 826}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 0}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile3-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 825}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 390}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile4-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 826}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 390}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile5-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 825}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 260}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile6-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 686}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{772, 130}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile7-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 686}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 260}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile8-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 825}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 520}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile9-touched.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {132, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{132, 138}</string>
			<key>spriteSourceSize</key>
			<string>{144, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 825}, {132, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tile9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {128, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>ModSpritesheet</string>
		<key>textureFileName</key>
		<string>TileSpritesheet-ipad.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>